form {
    min-width: 500px;
}

.form-container {
    display: flex;
    justify-content: center;
}

form div {
    margin: 10px 0;
}

form label {
    font-size: 1.2rem;
}

form input, form select {
    padding: 8px;
    width: 100%;
    margin-top: 5px;
    font-size: 1.2rem;
}